#alert-modal .modal-header,#warning-modal .modal-header{
    color:white;
    font-size:24px;
}
#alert-modal .modal-header{
    background-color: #d9534f;
}
#warning-modal .modal-header{
    background-color: #f0ad4e;
}

#alert-modal .modal-body div, #warning-modal .modal-body div{
    margin:20px 0;
    font-size:20px;
    color:#333;
}

#alert-modal .modal-body #help-text{
    font-size:16px;
    color:#777;
}


#tbl-clone{
    display: none;
    position: fixed;
    top:0;
    background-color: white;
    z-index: 1000;
}

#tbl-download td,#tbl-clone th{
    width:200px;
    overflow-x: hidden;
}

.icon-rotate{
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.icon-overlap{
    position: absolute;
    top: 16px;
    left: 20px;
}

.icon-overlap-2{
    position: relative;
    top: 5px;
    left: -5px;
}
.icon-margin{
    margin-right:12px;
}

#btn-new-col{
    color:#ccc;
}
#btn-new-col:hover{
    color:#000;
}
thead>tr>th:last-child{
    width:29px;
}
h3{
    margin-top:0;
}

#dropdown-col-list li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.icon{
    width:16px;
    height:16px;
}

.opt-layout{
    cursor:pointer;
}
.opt-layout a{
    width:175px;
}
.cuscol{
    cursor:pointer;
}
.icon-delete{
    color:#ddd;
}
.cuscol:hover .icon-delete{
    color:black;
}

.glyphicon-pencil{
    margin-right:5px;
}
.glyphicon-trash,.glyphicon-pencil{
    visibility:hidden;
    top:4px;
    color:#555;
}
.glyphicon-trash:hover,.glyphicon-pencil:hover{
    color:#222;
}
.opt-layout:hover .glyphicon-trash,.opt-layout:hover .glyphicon-pencil{
    visibility: visible;
}

.select-layout-name{
    display: inline-block;
    width: 100px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}