#neon {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

#neon:hover {
    color: #FFC0CB;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 11px #FFC0CB, 0 0 13px #FFC0CB, 0 0 15px #FF1177;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #FFC0CB, 0 0 5px #FFC0CB, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 13px #FF1177;
    }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 11px #FFC0CB, 0 0 13px #FFC0CB, 0 0 15px #FF1177;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #FFC0CB, 0 0 5px #FFC0CB, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 13px #FF1177;
    }
}

/*glow*/

@keyframes neon1 {
    from {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 11px #FFC0CB, 0 0 13px #FFC0CB, 0 0 15px #FF1177;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #FFC0CB, 0 0 5px #FFC0CB, 0 0 8px #FFC0CB, 0 0 10px #FFC0CB, 0 0 13px #FF1177;
    }
}